@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-red: #f53838;
  --secondary-red: #f53855;
  --primary-black: #0b132a;
  --primary-gray: #4f5665;
  --secondary-gray: #ddd;
  --tertiary-gray: #f6f6f6;
  --pure-white: #fff;
  --pure-black: #000;
  --card-border-radius: 10px;
  --border-width: 2px;
  --btn-border-radius: 50px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

section {
  padding: 5vw 10vw;
}
/* header section */
.header-container {
  display: flex;
}
.header-text {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  justify-content: center;
}
.header-text h1 {
  font-size: 4.8rem;
  margin-top: 1rem;
}

.header-text p {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.get-start-btn {
  margin-top: 3rem;
  height: 4rem;
  width: 15rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  color: var(--pure-white);
  background-color: var(--primary-red);
  box-shadow: -1px 10px 13px -7px rgba(245, 56, 85, 0.75);
  -webkit-box-shadow: -1px 10px 13px -7px rgba(245, 56, 85, 0.75);
  -moz-box-shadow: -1px 10px 13px -7px rgba(245, 56, 85, 0.75);
}

.header-img img {
  width: 50rem;
  height: 50rem;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.content-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content-container i {
  color: var(--primary-red);
  font-size: 2rem;
  background-color: #fecaca;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.line-style {
  height: 10rem;
}

/* Select Card Section */

.select-card-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.select-card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select-card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 32px;
}

.select-card-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  gap: 32px;
  padding: 16px;
  border: var(--border-width) solid var(--secondary-gray);
  border-radius: var(--card-border-radius);
  transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.select-card-item:hover {
  border: var(--border-width) solid var(--primary-red);
}

.select-card-item-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.select-card-item-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.select-card-item-list li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.select-card-item-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select-card-item-btn {
  padding: 13px 62px;
  border-radius: var(--btn-border-radius);
  border: var(--border-width) solid var(--primary-red);
  font-family: inherit;
  font-weight: 600;
  color: var(--secondary-red);
  background-color: var(--pure-white);
  cursor: pointer;
}
