@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-red: #f53838;
  --secondary-red: #f53855;
  --primary-black: #0b132a;
  --primary-gray: #4f5665;
  --secondary-gray: #ddd;
  --tertiary-gray: #f6f6f6;
  --pure-white: #fff;
  --pure-black: #000;
  --card-border-radius: 10px;
  --border-width: 2px;
  --btn-border-radius: 50px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

/* Nav Bar */

.nav {
  display: grid;
  min-width: 100vw;
  grid-template-columns: 1.5fr 4fr 1fr 1.5fr;
  padding: 5.6rem 0;
  align-items: center;
}

.nav--name {
  text-align: center;
  font-size: 3rem;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav--sections {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.nav--sign-in {
  text-align: center;
  font-weight: 600;
}

.nav--sign-up a {
  font-weight: 600;
  color: var(--secondary-red);
  border: 1px solid var(--secondary-red);
  width: max-content;
  border-radius: 5rem;
  padding: 1.3rem 4.5rem;
}

div {
  font-size: 1.6rem;
}

/* Select Card Section */

section {
  padding: 5vw 10vw;
}

.select-card-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.select-card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select-card-body {
  display: flex;
  flex-flow: row wrap;
}

.select-card-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  border: var(--border-width) solid var(--secondary-gray);
  border-radius: var(--card-border-radius);
  transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.select-card-item:hover {
  border: var(--border-width) solid var(--primary-red);
}

.select-card-item-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.select-card-item-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.select-card-item-list li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.select-card-item-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select-card-item-btn {
  padding: 13px 62px;
  border-radius: var(--btn-border-radius);
  border: var(--border-width) solid var(--primary-red);
  font-family: inherit;
  font-weight: 600;
  color: var(--secondary-red);
  background-color: var(--pure-white);
  cursor: pointer;
}
