@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-red: #f53838;
  --secondary-red: #f53855;
  --primary-black: #0b132a;
  --primary-gray: #4f5665;
  --secondary-gray: #ddd;
  --tertiary-gray: #f6f6f6;
  --pure-white: #fff;
  --pure-black: #000;
  --card-border-radius: 10px;
  --border-width: 2px;
  --btn-border-radius: 50px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}
/* for streching the height of html and body */
html,
body {
  min-height: 100%;
}

/* Nav Bar */

.nav {
  display: grid;
  min-width: 100vw;
  grid-template-columns: 1.5fr 4fr 1fr 1.5fr;
  padding: 5.6rem 0;
  align-items: center;
}

.nav--name {
  text-align: center;
  font-size: 3rem;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav--sections {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.nav--sign-in {
  text-align: center;
  font-weight: 600;
}

.nav--sign-up a {
  font-weight: 600;
  color: var(--secondary-red);
  border: 1px solid var(--secondary-red);
  width: max-content;
  border-radius: 5rem;
  padding: 1.3rem 4.5rem;
}

div {
  font-size: 1.6rem;
}

section {
  padding: 5vw 10vw;
}
/* header section */
.header-container {
  display: flex;
}
.header-text {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  justify-content: center;
}
.header-text h1 {
  font-size: 4.8rem;
  margin-top: 1rem;
}

.header-text p {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.get-start-btn {
  margin-top: 3rem;
  height: 4rem;
  width: 15rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  color: var(--pure-white);
  background-color: var(--primary-red);
  box-shadow: -1px 10px 13px -7px rgba(245, 56, 85, 0.75);
  -webkit-box-shadow: -1px 10px 13px -7px rgba(245, 56, 85, 0.75);
  -moz-box-shadow: -1px 10px 13px -7px rgba(245, 56, 85, 0.75);
}

.header-img img {
  width: 50rem;
  height: 50rem;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
<<<<<<< HEAD
=======
  margin-top: 5rem;
>>>>>>> origin
}

.content-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.content-container i {
  color: var(--primary-red);
  font-size: 2rem;
<<<<<<< HEAD
}

=======
  background-color: #fecaca;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.line-style {
  height: 10rem;
}

>>>>>>> origin
/* Select Card Section */

.select-card-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.select-card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select-card-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 32px;
}

.select-card-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  gap: 32px;
  padding: 16px;
  border: var(--border-width) solid var(--secondary-gray);
  border-radius: var(--card-border-radius);
  transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.select-card-item:hover {
  border: var(--border-width) solid var(--primary-red);
}

.select-card-item-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.select-card-item-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.select-card-item-list li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.select-card-item-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.select-card-item-btn {
  padding: 13px 62px;
  border-radius: var(--btn-border-radius);
  border: var(--border-width) solid var(--primary-red);
  font-family: inherit;
  font-weight: 600;
  color: var(--secondary-red);
  background-color: var(--pure-white);
  cursor: pointer;
}
<<<<<<< HEAD

/* Registration form */
#wrapper {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-red);
}
.user-form {
  flex: 1; /* flex is shorthand property for flex-grow,flex-shrink,flex-basia */
  background-color: #f6f6f6;
  max-width: 600px; /*flex one is for small screen but max-width for big screen */
  border-radius: 16px;
}
.form-header {
  padding: 15px 0;
  border-bottom: 1px solid var(--primary-gray);
}
.form-header > h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-black);
}

.form-body {
  padding: 5px 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0.625rem 0.3125rem;
}

label {
  color: var(--primary-black);
  font-size: 1.625remrem;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1.4rem;
  min-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--primary-red);
  border-radius: 4px;
  background: white;
  color: var(--primary-black);
  outline: none;
}

@media only screen and (max-width: 650px) {
  /* when the screen size is less than 650px, it is convert into single column */
  .row {
    flex-direction: column;
  }

  .btn {
    flex: 1;
  }
}

.form-footer {
  display: flex;
  justify-content: center;
}

.form-footer > .btn {
  padding: 10px 20px;
  background: var(--primary-red);
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  color: var(--pure-white);
  cursor: pointer;
  margin: 0.625rem 0.3125rem;
  width: 80%;
}
=======
>>>>>>> origin
